<div class="container__big-card">
  <hr>
    <div class="big-card__photo">
    <img src="{{ photoCover }}" alt="">
  </div>

  <div class="big-card__title">
    <h1>
      <a [routerLink]="['content',id]">{{ titleContent }}</a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['content',id]">
        {{ descriptionContent }}
      </a>
    </p>
  </div>
  <hr>
  <hr>
    <div class="big-card__photo">
    <img src="assets/camp.png" alt="">
  </div>

  <div class="big-card__title">
    <h1>
      <a href="https://findyourchampion.wildrift.leagueoflegends.com/pt-br/?_ga=2.212571732.1997968321.1697581152-2090823704.1697581149&_gl=1*153w19g*_ga*MjA5MDgyMzcwNC4xNjk3NTgxMTQ5*_ga_E1ZGRJQ080*MTY5NzU5MzA0NC4yLjEuMTY5NzU5NTY2NC4wLjAuMA..">
        ENCONTRE SEU CAMPEÃO, COMO É SEU ESTILO DE BATALHA?</a>
    </h1>
  </div>
  

  <div class="big-card__description">
    <p>
      Em League of Legends: Wild Rift, a escolha do seu campeão é crucial para o seu sucesso. Cada campeão tem um estilo de batalha único e habilidades especiais que se encaixam em estratégias específicas. Queremos ajudá-lo a encontrar o campeão perfeito para o seu estilo de jogo. Descubra o campeão que combina com você! Prepare-se para dominar os campos de batalha com o campeão que melhor se adapta ao seu estilo. Seja um artilheiro letal, um mago poderoso ou um tanque inabalável, a escolha é sua. Clique agora no título e comece a sua jornada rumo à vitória em League of Legends: Wild Rift!
    </p>
  </div>
  <hr>

</div>