.container__menu-title {
  margin-top: -70px;
  color: white;
  text-align: center; /* Alinhe o texto ao centro para telas menores */
}

.container__menu-title > h1 {
  margin-top: 1.5rem; /* Alterado para uma unidade relativa */
  margin-bottom: 1.5rem; /* Alterado para uma unidade relativa */
  font-size: 4rem; /* Alterado para uma unidade relativa */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-top: 2rem; /* Alterado para uma unidade relativa */
  margin-bottom: 0.5rem; /* Alterado para uma unidade relativa */
}

/* Media query para telas menores, por exemplo, abaixo de 768px */
@media screen and (max-width: 768px) {
  .container__menu-title > h1 {
    font-size: 1.5rem; /* Ajuste o tamanho da fonte para telas menores */
  }

  .container__menu-title > hr {
    margin-top: 1.5rem; /* Ajuste a margem superior do HR para telas menores */
  }
}
