.container__small-card {
  max-width: 100%; /* Permita que o contêiner se ajuste ao tamanho da tela */
  width: 100%; /* Utilize 100% da largura disponível */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: auto;
  max-width: 200px;
  float: left;
  margin-right: 15px;
}

.small-card__title > h1  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card_separator {
  margin-top: 20px;
}

/* Adicione uma regra de media query para telas menores */
@media screen and (max-width: 768px) {
  .container__small-card-content {
    flex-direction: column; /* Mude para uma coluna em telas menores */
  }

  .small-card__photo > img {
    max-width: 100%; /* Permita que a imagem ocupe toda a largura disponível em telas menores */
  }
}

/* Adicione uma regra de media query para telas maiores, por exemplo, acima de 1200px */
@media screen and (min-width: 1200px) {
  .container__small-card {
    max-width: 100%; /* Permita que o contêiner se ajuste ao tamanho da tela */
  }

  .container__small-card-content {
    flex-direction: row; /* Mantenha o layout em linha em telas maiores */
  }
}
