/* Base styles */
.container__content {
    padding-bottom: 2rem; /* Use relative units */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.content__photo > img {
    border: solid 2px #616161;
    height: auto;
    width: 100%;
    max-width: 64%;
    border-radius: 30px;
}

.content__title {
    margin-top: 2rem;
    max-width: 700px;
    text-align: center;
    font-size: 1.5rem; /* Use relative units */
}

.content__description {
    margin-top: 2rem;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__description > p {
    margin-top: 2rem;
}

.content__btn-home {
    margin-top: 4rem;
}

.content__btn-home > a {
    background-color: #616161;
    padding: 0.5rem 2rem; /* Use relative units */
    border-radius: 15px;
}

.content__btn-home > a:hover {
    background-color: #325ba7;
    color: white;
}

/* Media query for screens between 769px and 1200px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .container__content {
        margin: 1rem;
    }

    .content__photo > img {
        max-width: 90%;
    }

    .content__title, .content__description, .content__btn-home {
        max-width: 80%;
    }
}

/* Media query for mobile devices with a maximum width of 768px */
@media (max-width: 768px) {
    .container__content {
        padding: 1rem;
    }

    .content__title {
        margin-top: 1rem;
        max-width: 90%;
        font-size: 1.2rem; /* Adjust font size for mobile */
    }

    .content__description {
        max-width: 90%;
    }

    .content__btn-home {
        margin-top: 2rem;
    }

    .content__btn-home > a {
        padding: 0.5rem 1.5rem; /* Adjust padding for mobile */
    }
}

/* Media query for screens larger than 1200px */
@media screen and (min-width: 1201px) {
    .container__content {
        max-width: 1063px;
        margin: 14px auto;
    }
}
