.container__articles {
  margin-top: 1.875rem; /* Unidade relativa */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 6px; /* Combina margem direita e esquerda */
}

.container__articles_others {
  /* Ajuste de margem em telas menores */
  margin-right: 6px;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .container__articles {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center; /* Centraliza o conteúdo na coluna */
    margin: 0 3px; /* Reduz a margem para 3px em telas menores */
  }

  .container__articles_others {
    margin: 0 3px; /* Reduz a margem para 3px em telas menores */
  }
}

@media screen and (min-width: 769px) {
  .container__articles {
    margin-top: -3rem; /* Ajuste de margem superior para telas maiores */
  }
}
