<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/gabcostta">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/GabCostta" target="_blank">GitHub</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCsy9W9VO6udjaN-5IDAVyNg">YouTube</a></li>
    <li><span>•</span></li>
    <li><a href="https://api.whatsapp.com/send/?phone=5585997539628&text&type=phone_number&app_absent=0">Whatsapp</a></li>
  </ul>
</div>