/* Definições globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #111111;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color:whitesmoke;
}

.articles__others h1 > a {
  font-size: 19px;
  line-height: 1.5;
  margin-top: 22px;
  text-decoration: underline;
  color: whitesmoke;
}

/* Altere a cor do link quando o mouse estiver sobre ele (efeito hover) */
.articles__others h1 > a:hover {
  color: #0056b3; /* Escolha uma cor diferente para o hover */
}


p {
  max-width: 100%; /* Utilize toda a largura disponível */
  padding: 1rem; /* Adicione um espaçamento interno */
  text-align: center;
  color: lavender;
}

hr {
  border: none;
  border-top: 2px solid blue; /* Altere a cor da linha, se desejar */
  margin: 0;
  padding: 0;
}



/* Adicione uma regra de media query para diminuir o tamanho da fonte em telas menores */
@media screen and (max-width: 768px) {
  p {
    font-size: 14px; /* Reduza o tamanho da fonte em telas menores (altere conforme necessário) */
    padding: 0px;
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    .container__small-card {
      max-width: 100%; /* Permita que o contêiner se ajuste ao tamanho da tela em telas maiores */
    }
  
    .container__small-card-content {
      flex-direction: row; /* Mantenha o layout em linha em telas maiores */
    }
  }
}
